#content {
    background-color: #000;
    border: 1px solid #666;
    height: 100%;
    overflow: hidden;
}

.color-bomb {
    fill: red;
}

.color-enemy {
    fill: orange;
}

.color-asteroid {
    fill: yellow;
}

.color-meteorite {
    fill: yellow;
}

.color-location {
    fill: white;
}