<section class="border-board">
    <div id="content" #content [@displayLocation]="courseVisible">

        <svg id="gridSvg" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <pattern id="cell" #cell [attr.width]="squareSide" [attr.height]="squareSide" patternUnits="userSpaceOnUse">
          <path [attr.d]="svgPath" fill="none" stroke="gray" stroke-width="1" />
        </pattern>
      </defs>
      <rect id="cellsvg" width="100%" height="100%" fill="url(#cell)" />

      <svg *ngFor="let item of graphicalItems" xmlns="http://www.w3.org/2000/svg" [attr.class]="item.color">
        <circle [attr.cx]="item.posX" [attr.cy]="item.posY" [attr.r]="item.ray" stroke="white" width="100%" height="100%" />
      </svg>

        <svg *ngFor="let item of graphicalLocations" xmlns="http://www.w3.org/2000/svg" id="loc" [attr.class]="item.color">
        <circle [attr.cx]="item.posX" [attr.cy]="item.posY" [attr.r]="item.ray" stroke="gray" width="100%" height="100%" />
      </svg>
        </svg>
    </div>
</section>