<section class="border-board">
    <div id="content" #content [@displayLocation]="courseVisible">

        <svg id="gridSvg" width="100%" height="100%">
          
          <defs>
            <pattern id="cell" #cell [attr.width]="squareSize" [attr.height]="squareSize" patternUnits="userSpaceOnUse">
              <path [attr.d]="svgPath" fill="none" stroke="grey" stroke-width="1" />
            </pattern>
            <pattern id="shipimg" patternUnits="userSpaceOnUse" width="30" height="30">
              <image xlink:href="../../assets/ship.png" width="30" height="30" />
            </pattern>
            <pattern id="mineimg" patternUnits="userSpaceOnUse" [attr.width]="objectSize" [attr.height]="objectSize">
              <image xlink:href="../../assets/mine.png" [attr.width]="objectSize" [attr.height]="objectSize" />
            </pattern>
            <pattern id="meteoriteimg" patternUnits="userSpaceOnUse" [attr.width]="objectSize" [attr.height]="objectSize">
              <image xlink:href="../../assets/meteorite.png" [attr.width]="objectSize" [attr.height]="objectSize" />
            </pattern>
            <pattern id="enemyimg" patternUnits="userSpaceOnUse" [attr.width]="objectSize" [attr.height]="objectSize">
              <image xlink:href="../../assets/enemy.png" [attr.width]="objectSize" [attr.height]="objectSize" />
            </pattern>
          </defs>
          
          <rect id="cellsvg" style="opacity: .5" width="100%" height="100%" fill="url(#cell)" />

          <svg *ngFor="let item of staticObjects" [attr.x]="item.posX" [attr.y]="item.posY" >
            <path [attr.d]="staticObjectsSvgPath" [attr.fill]="item.url" />
          </svg>
        <svg *ngFor="let item of stars" id="star">
            <circle [attr.cx]="item.posX" [attr.cy]="item.posY" [attr.r]="item.ray" stroke="none" [attr.fill]="item.color" width="100%" height="100%" />
          </svg>

        <svg *ngFor="let item of shipPositions" id="loc" [attr.class]="item.color">
            <circle [attr.cx]="item.posX" [attr.cy]="item.posY" [attr.r]="item.ray" stroke="gray" width="100%" height="100%" />
          </svg>

        <g id="ship" width="30px" height="30px">
            <path d="M 0 0 H 30 V 0 H 30 V 30 H 0 V 30 H 0 V 0" fill="url(#shipimg)" />
        </g>
        </svg>
    </div>
</section>