.container-fluid {
    margin-left: 10px;
    margin-right: 10px;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

#scores .jenkins-badges img {
    padding: 0 2;
}

#scores .jenkins-badges td {
    padding: 0 0 10 15;
    font-size: 0;
}

#timer {
    font-size: 2.5em;
    font-weight: bold;
}