<div class="row">
    <div class="col-sm-8">
        <h2><strong>Scores :</strong></h2>
        <hr/>
        <base-chart class="chart"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [legend]="lineChartLegend"
                    [colors]="lineColors"
                    [chartType]="lineChartType"></base-chart>
        <hr/>
        <score-timer id="timer"></score-timer>
    </div>

    <div id="scores" class="col-sm-4">
        <h2><strong>Rank :</strong></h2>
        <hr/>
        <table class="table" style="font-size: 1.8em;">
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-2"></th>
                <th class="col-md-3">Points</th>
                <th class="col-md-6">Team</th>
            </tr>
            <template ngFor let-scoreResult [ngForOf]="scoreResultList" let-i="index">
            <tr>
                <td [style.color]="'rgba(' + scoreResult.color + ',1)'">{{i+1}}.</td>
                <td [style.color]="'rgba(' + scoreResult.color + ',1)'">
                    <span class="label" style="position: relative;top: 8px;" [ngClass]="scoreResult.increment <=0 ? 'label-danger' : 'label-success'">
                        <strong>{{scoreResult.increment}}</strong>
                    </span>
                </td>
                <td [style.color]="'rgba(' + scoreResult.color + ',1)'">{{scoreResult.maxPoints}}</td>
                <td [style.color]="'rgba(' + scoreResult.color + ',1)'">{{scoreResult.team}}</td>
            </tr>
            <tr class="jenkins-badges">
                <td colspan="4">
                    <img *ngIf="scoreResult.buildStatus != null" src="http://img.shields.io/badge/Départ-{{scoreResult.buildStatus}}-{{scoreResult.buildStatusColor}}.svg">
                    <img *ngIf="scoreResult.testsStatus != null" src="http://img.shields.io/badge/Tests-{{scoreResult.testsStatus}}-{{scoreResult.testsStatusColor}}.svg">
                    <img *ngIf="scoreResult.coverageStatus != null" src="http://img.shields.io/badge/Coverage-{{scoreResult.coverageStatus}}-{{scoreResult.coverageStatusColor}}.svg">
                    <img *ngIf="scoreResult.validationStatus != null" src="http://img.shields.io/badge/Voyages OK-{{scoreResult.validationStatus}}-{{scoreResult.validationStatusColor}}.svg">
                </td>
            </tr>
            </template>
        </table>
    </div>
</div>
