<section class="border-board">
  <div id="content" #content>

    <svg id="gridSvg" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <pattern id="cell" #cell [attr.width]="squareSide" [attr.height]="squareSide" patternUnits="userSpaceOnUse">
          <path [attr.d]="svgPath" fill="none" stroke="gray" stroke-width="1" />
        </pattern>
      </defs>
      <rect id="cellsvg" width="100%" height="100%" fill="url(#cell)" />
    </svg>
    <svg *ngFor="let item of graphicalItems" 
        [attr.x]="item.posX" [attr.y]="item.posY" 
        [attr.width]="squareSide" [attr.height]="squareSide">
        <circle [attr.cx]="item.posX" [attr.cy]="item.posY" [attr.r]="(squareSide - 2) / 2" width="100%" height="100%" fill="url(#item)" />
      </svg>
  </div>
</section>

<!-- <svg id="gridSvg" [attr.width]="gridWidth" [attr.height]="gridHeight" xmlns="http://www.w3.org/2000/svg"> -->